body {
	text-align: center;
}

nav {
	background-color: #808080;
}

a {
	background-color: #ffbf00;
	text-decoration: none;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
	background-color:#ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

h1 {
	color: rgb(2,132,130);
}

#subtitle {
	color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}

.board {
	display: inline-block;
	height:50%;
	width:50%;
}

.card {
	height:200px;
	width:150px;
	background-color: rgb(255,255,0); 
	border-radius: 10px;
	border: solid rgb(0,0,0) 1px;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

footer {
	background-color: #808080;
	text-align: center;
	clear: both;
}

